nav {
  width: 100%;

}

img {
  width: 100px;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  color: #ffffff;
  transition: all 0.5s ease;

  &-links {
    padding: 1em 0.5em;

    &:last-child {
      padding-right: 2em;
    }

    &:hover {
      color: #d3d3d3;
      transform: scale(1.2);
    }

    a {
      color: white;
    }
  }
}