<div class="landing-page">
  <div class="landing-page-title">
    <h1>Optimize your website with 2ndBrain</h1>
    <span>Boost your website's performance with 2ndBrain's powerful AI tools to create high-quality projects &
      graphics.</span>
    <br>
    <br>
    <br>
    <p-button label="Try it NOW! (for free)" icon="pi pi-check"></p-button>
    <br>
    <p style="padding: 2em 0;"><p-rating [(ngModel)]="value" [readonly]="true" [cancel]="false"></p-rating>
      | AI Tools | Webiste optimization</p>

    <div style="font-weight: 800; padding: 2em 1em;">"Very effective & easy to use!"</div>
  </div>
  <div class="landing-page-cta">
    <div>
      <img src="../../../assets/chemovator_wxp.png" alt="Logo" />
    </div>
  </div>
</div>


<section class="services">
  <div class="service">
    <span class="pi pi-star" style="font-size: 2rem; color: #39c62f"></span>
    <h3>Reduced Effort</h3>
    <p>Effortlessly generate high-quality content with minimal effort.</p>
  </div>
  <div class="service">
    <span class="pi pi-stopwatch" style="font-size: 2rem; color: #39c62f"></span>
    <h3>Time-saving</h3>
    <p>Create engaging posts efficiently, saving valuable time and effort.</p>
  </div>
  <div class="service">
    <span class="pi pi-wallet" style="font-size: 2rem; color: #39c62f"></span>
    <h3>Cost-effective</h3>
    <p>Reduce the need for expensive content creation tools and services.</p>
  </div>
</section>