@import "primeicons/primeicons.css";

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #020617;
}

h1 {
  font-weight: 700;
  font-size: 5rem;
}